// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 42rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;

  background-color: #FFF;
  padding: 2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  border-radius: 4px 4px 0 0;
}

#social-buttons > * {
  vertical-align: bottom;
}
